.ss-gridfield-add-new-multi-class {
    clear: both;
}

.elemental-add-existing-autocompleter {
    max-width: 50%;
}

.elemental-add-existing-autocompleter > span:first-child {
    max-width: calc(100% - 117px);
}

.elemental-add-existing-autocompleter > span:first-child input {
    max-width: 100%;
}

.cms .field input.ui-autocomplete-input.ui-autocomplete-loading {
    background-image: url(../../framework/images/progressbar_blue.gif);
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 30px;
}

.cms table.ss-gridfield-table tr[data-class="ElementVirtualLinked"] {
    background: #f4f4f4;
    font-style: italic;
}
.cms table.ss-gridfield-table tr[data-class="ElementVirtualLinked"].even {
    background: #e8e8e8;
}
    .cms table.ss-gridfield-table tr[data-class="ElementVirtualLinked"] td {
        color: #999;
    }


.col-ElementIcon {
    width: 1px;
    max-width: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

th.col-ElementIcon {
    opacity: 0;
}