.ss-gridfield-add-new-multi-class {
    clear: both;
}

.col-ElementIcon {
    max-width: 30px;
    text-align: center;
}

.col-reorder + .col-ElementIcon {
    width: 1px;
    max-width: 20px;
    padding-left: 0px !important
}

th.col-ElementIcon {
    opacity: 0;
}

.col-ElementTypeNice .el-description {
    font-size: 12px;
    color: rgba(102, 114, 125, 0.6);
    font-style: italic;
    padding-left: 5px;
}

td.col-ElementSummary {
    max-width: 200px;
}

/* Style the chosen dropdown for element icons */
.el-chosen .chosen-container .chosen-results {
    padding: 0;
    margin: 0;
}

.el-chosen .chosen-container-single .chosen-single abbr {
    top: 11px;
}

.chosen-container .chosen-results li.el-icon {
    font-size: 12px;
    line-height: 18px;
    padding: 7px 16px 7px 6px;
    color: #0071c4;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.chosen-container .chosen-results li.el-icon.highlighted  {
    background: #F6F7F8;
}

.chosen-container .chosen-results li.el-icon.result-selected {
    background: #e6eaed;
    color: #66727d;
}

.chosen-container .chosen-results li.el-icon:before {
    content: '';
    display:inline-block;
    height: 14px;
    width: 30px;
}

.el-meta {
    font-size: 12px;
    color: rgba(102, 114, 125, 0.6);
    font-style: italic;
    font-weight: normal;
}

.el-icongroup {
    position: relative;
}

.el-icon--virtual {
    position: absolute;
    top: 6px;
    left: 6px;
}

.elemental-preview {
    position: relative;
    padding: 0 0 0 50px;
    min-height: 35px;
}

.elemental-preview h2 {
    margin: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.elemental-preview small {
    font-size: 13px;
    opacity: 0.8;
}

.elemental-preview__detail {
    padding-top: 5px;
}

.elemental-preview__icon {
    position: absolute;
    left: 0px;
    border-radius: 2px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elemental-preview__icon img {
    opacity: 0.4;
}
