.element-editor-add-element-content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 16px 20px 20px 20px;
    box-shadow: $z-depth-1;
    border-radius: $border-radius-sm;
    max-height: 500px; // Placeholder, value TBC
    overflow-y: scroll;

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    :nth-child(odd) {
      margin-right: 10px;
    }
    :nth-child(even) {
      margin-right: 0;
    }
  }

  &__button {
    min-width: calc(100% * (1 / 2) - 5px);
    padding: 7px 0 7px 2px;
    text-align: start;
    margin-bottom: 10px;

    &::before {
      margin-right: 12px;
      font-size: 2.3rem;

    }
  }

  // Adds necessary specificity to override default font-size
  & &__button::before {
    font-size: 2.3rem;
  }
}


