.element-editor-content {
  display: flex;
  margin-top: $spacer;
  margin-left: 42px; // header icon + margin of title
  align-items: center;

  &__thumbnail-image {
    border-radius: $thumbnail-border-radius;
    height: 48px;
    margin-top: -$spacer-sm;
    margin-right: $spacer-sm;
  }

  &__content {
    color: $gray-600;
  }
}
