.element-editor__element {
  border-bottom: 1px solid $border-color-light;
  color: inherit;
  cursor: pointer;
  display: block;
  padding: $panel-padding-x;
  padding-top: $spacer;

  &:hover {
    text-decoration: inherit;
    color: inherit;
    background-color: $table-hover-bg;
  }

  &:last-child {
    border-bottom: 0;
  }
}
