.elemental-editor-list {
  background-color: $white;
  border-bottom: 1px solid $border-color-light;
  border-top: 1px solid $border-color-light;
  margin-left: -$panel-padding-x;
  margin-right: -$panel-padding-x;
  min-height: 6rem;
  position: relative;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
