.element-editor-header {
  display: flex;
  justify-content: space-between;
}

.element-editor-header__title {
  font-weight: 400;
  line-height: 26px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased
}

.element-editor-header__info {
  display: flex;
}

.element-editor-header__icon-container {
  color: $gray-600;
  display: inline-block;
  font-size: 2.3rem;
  width: 28px;
  vertical-align: top;
}


