.element-editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    margin: 0 0 0 $spacer-sm;
    -webkit-font-smoothing: antialiased;
  }

  &__info,
  &__actions {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  &__actions {
    justify-content: flex-end;
  }

  &__icon-container {
    color: $text-muted;
    font-size: 2.3rem;
    height: 30px;
    line-height: 1.5rem;
  }

  &__expand {
    width: unset;

    &.dropdown-item::before {
      margin-right: 0;
    }
  }

  &__version-state {
    box-shadow: $gallery-item-shadow;
  }
}

// Draft/modified state icons copied from asset-admin - see GalleryItem.scss
.element-editor-header__version-state {
  border: 1px solid $state-draft;
  border-radius: 100%;
  bottom: 6px;
  box-shadow: 0 0 1px .5px $white;
  display: block;
  height: 8px;
  left: 22px;
  position: relative;
  width: 8px;
  z-index: 1;
}

.element-editor__element {
  &--draft {
    .element-editor-header__version-state {
      background-color: $state-draft-bg;
    }
  }

  &--modified {
    .element-editor-header__version-state {
      background-color: $state-modified-bg;
    }
  }
}
