.element-editor-summary {
  display: flex;
  margin-top: $spacer-sm;
  margin-left: 36px; // header icon + margin of title
  align-items: center;
  min-height: 2em;

  &__thumbnail-image {
    border-radius: $border-radius-sm * 0.8;
    height: 36px;
    margin: (-$spacer-xs * 0.8) $spacer-sm (-$spacer-xs * 0.8) 0;
  }

  &__content {
    color: $gray-600;
    line-height: 1.3; // Help ensure the container element height is around 102px
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--broken {
      overflow: visible;
      white-space: normal;
    }
  }
}
