// Temporarily overwriting the styles from the CheckboxField component
// since it cannot be removed easily
.text-checkbox-group-field {
  .form-check {
    display: inline;
    padding-left: 0;
    margin-bottom: 0;
  }

  &--read-only {
    display: flex;

    :first-child {
      flex: 1;
    }

    .show-title {
      font-style: italic;
    }
  }
}
