.elemental-edit {
  display: flex;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.elemental-editor .col-EditorPreview {
  padding-left: 0;
}

.elemental-preview__detail {
  display: inline-block;
  margin-left: $spacer-xs;
  margin-top: 1px;

  h3 {
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  p {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    margin-top: 6px;
  }

  small {
    color: $text-muted;
    font-size: $font-size-root;
  }
}

.elemental-preview__thumbnail-image {
  margin-right: $spacer-xs;

  img {
    border-radius: $border-radius-sm;
  }
}

.elemental-preview__thumbnail-image--placeholder {
  border-radius: 0;
  height: 36px;
  margin-left: -4px;
}

.elemental-preview__icon {
  color: $text-muted;
  display: inline-block;
  flex-direction: row;
  font-size: 2.3rem;
  width: 28px;
  vertical-align: top;
  margin-top: -1px;
}

.ss-gridfield-orderable.elemental-editor .col-reorder .handle {
  opacity: .5;
  padding: 22px 0 0 0;

  .icon {
    font-size: 1.3em;
  }
}

.elemental-editor {
  .ss-gridfield-item:hover .handle {
    opacity: 1;
  }

  .grid-field__table {
    margin-bottom: 12px;

    @include media-breakpoint-down(md) {
      // If viewing on a smaller screen, ensure the element content summary is shown
      .col-EditorPreview {
        display: table-cell;
      }
    }
  }
}

// Draft/modified state icons copied from asset-admin - see GalleryItem.scss
.element-item--draft,
.element-item--modified {
  border: 1px solid $state-draft;
  border-radius: 100%;
  bottom: 6px;
  box-shadow: 0 0 1px .5px $white;
  display: block;
  height: 8px;
  left: 22px;
  position: relative;
  width: 8px;
  z-index: 1;
}

.element-item--draft {
  background-color: $state-draft-bg;
}

.element-item--modified {
  background-color: $state-modified-bg;
}
